.menu-btn {
  background: none;
}

.menu-input {
  background: none;
  color: #fff;
  border: none;
}

.menu-input-v-align-input {
  grid-area: input;
  text-align: left;
}

.menu-input-v-align-outter {
  display: flex-column;
  justify-content: space-around;
}

.menu-input-v-align-inner {
  display: grid;
  grid-template-areas: "label input";
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.menu-input-v-align-label {
  grid-area: label;
  text-align: right;
}
