:root {
  --nav-height: 60px;
  --nav-link-color: #fff;
  --nav-background-color: #333;
  --nav-hover-color: #006b92;

  --card-height: 200px;

  --color-accent: #006b92;
  --color-notes: rgb(65, 100, 0);
  --color-menu: #3e0070;
  --color-time-monitor: #3e0070;
  --color-alerts: #aa0000;
}

html {
  box-sizing: border-box;
  line-height: 1.6em;
  font-family: "Ubuntu", sans-serif;
  background-color: #222;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
}

.main {
  flex-grow: 1;
  padding: 10px;
  display: grid;
  grid-template-areas:
    "nav nav nav nav"
    "time time time alerts"
    "notes notes notes notes";
  grid-template-rows: var(--nav-height) repeat(2, var(--card-height));
  grid-gap: 1vw;
}

.Menu {
  background-color: var(--color-menu);
  height: 100vh;
  color: #fff;
  width: 400px;
}
button {
  border: none;
  cursor: pointer;
}

.menu-btn {
  background-color: #00000000;
}

.menu-input {
  background-color: #240042;
  color: #fff;
  border: none;
  border-bottom: 2px solid #fff;
}

.menu-option-toggle {
  height: auto;
  background-color: #5f02ac;
  width: 100%;
  color: #fff;
  scrollbar-width: 2px;
}

.menu-hide {
  overflow-x: hidden;
  transition: 0.5s ease;
}

.add-btn {
  color: #006b92;
}

.del-btn {
  color: #a00;
}

.edit-links {
  height: 30vh;
  overflow-y: scroll;
  margin: 0;
  border-bottom: 2px solid #111;
  transition: 0.5s ease;
}

.Nav {
  background-color: var(--nav-background-color);
  grid-area: nav;
  display: flex;
  color: var(--nav-link-color);
  height: var(--nav-height);
}

.nav-item {
  height: 100%;
  display: grid;
  text-align: center;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
}

.nav-link {
  color: var(--nav-link-color);
}

.nav-link:hover {
  /* color: var(--nav-background-color); */
  background-color: var(--nav-hover-color);
}

.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  background-color: #333;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1);
}

.dropdown-item {
  padding: 3px 10px;
}

.time-monitor {
  background-color: var(--color-time-monitor);

  grid-area: time;
  display: grid;
  grid-template-areas: "title title title" ". bar .";
  grid-template-rows: 20% 80%;
  grid-template-columns: 10% 80% 10%;
}

.card-title {
  grid-area: title;
  text-align: center;
  color: #fff;
}

.time-bar-container {
  grid-area: bar;
  background-color: #333;
  height: 80%;
  border: 2px solid #000;
}

.time-bar {
  background-color: #006b92;
  height: 100%;
}

.Alerts {
  background-color: var(--color-alerts);

  grid-area: alerts;
}

.Notes {
  background-color: var(--color-notes);

  grid-area: notes;
}
