:root {
  --nav-height: 60px;
  --nav-link-color: #fff;
  --nav-background-color: #333;
  --nav-hover-color: #00bbff;

  --card-height: 200px;
}

html {
  box-sizing: border-box;
  line-height: 1.6em;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}

.App {
  padding: 10px;
  display: grid;
  grid-template-areas:
    "nav nav nav nav"
    "trackers trackers trackers alerts"
    "notes notes notes notes";
  grid-template-rows: var(--nav-height) repeat(2, var(--card-height));
  grid-gap: 1vw;
}

.Menu {
  background-color: #00ff00;

  display: none;
}

.Nav {
  background-color: var(--nav-background-color);
  grid-area: nav;
  display: flex;
  color: var(--nav-link-color);
  height: var(--nav-height);
}

.nav-item {
  height: 100%;
  display: grid;
  text-align: center;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
}

.nav-link {
  color: var(--nav-link-color);
}

.nav-link:hover {
  color: var(--nav-background-color);
  background-color: var(--nav-hover-color);
}

.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  background-color: #333;
}

.dropdown-item {
  padding: 3px 10px;
}

.Trackers {
  background-color: #ffff00;

  grid-area: trackers;
}

.Alerts {
  background-color: #ff0000;

  grid-area: alerts;
}

.Notes {
  background-color: #00ffff;

  grid-area: notes;
}
