:root {
  --nav-height: auto;
}

a {
  text-decoration: none;
}

.App {
  padding: 10px;
  display: grid;
  grid-template-areas:
    "nav nav nav nav"
    "trackers trackers trackers alerts"
    "notes notes notes notes";
  grid-template-rows: var(--nav-height) 200px 200px;
  grid-gap: 1vw;
}

.Menu {
  background-color: #00ff00;

  display: none;
}

.Nav {
  background-color: #333;
  grid-area: nav;
  display: flex;
  color: #fff;
}

.nav-item {
  height: 50px;
  display: grid;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.nav-link {
  padding: 0 10px;
  color: #fff;
}

.dropdown {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: #333;
}

.dropdown-item {
  padding: 2px;
}

.Trackers {
  background-color: #ffff00;

  grid-area: trackers;
}

.Alerts {
  background-color: #ff0000;

  grid-area: alerts;
}

.Notes {
  background-color: #00ffff;

  grid-area: notes;
}
