.nav-item {
  height: 100%;
  display: grid;
  text-align: center;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
}

.nav-link:hover {
  background-color: var(--nav-hover-color);
}

.dropdown-item {
  padding: 3px 10px;
}

.nav-link {
  color: var(--nav-link-color);
}
